p{
    color: aquamarine;
    background-color: brown;
    display: block;
    border-radius: 5px;
    padding: 2%;
    margin-right: 50%;
}
div{
    text-align: center;
    color: darkblue;
    background-color: cyan;
    border: 5px solid black;
    border-radius: 50px;
    margin-left: 50%;
   
}
